%h1 Listing clients

%table.table-condensed
  %thead
    %tr
      %th Name
      %th Phone number
      %th

  %tbody
    - @clients.each do |client|
      %tr
        %td= link_to client.name, edit_client_path(client)
        %td= client.phone_number
        / %td= link_to 'Show', client
        %td= link_to content_tag(:span, '', class: 'glyphicon glyphicon-trash'), client, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'

%br

= link_to 'New Client', new_client_path